:root
  --cube-color-blue-base #000
  --cube-color-blue-lighten5 #000
  --cube-color-blue-lighten4 #000
  --cube-color-blue-lighten3 #000
  --cube-color-blue-lighten2 #000
  --cube-color-blue-lighten1 #000
  --cube-color-blue-darken1 #000
  --cube-color-blue-darken2 #000
  --cube-color-blue-darken3 #000
  --cube-color-blue-darken4 #000
  --cube-color-blue-accent1 #000
  --cube-color-blue-accent2 #000
  --cube-color-blue-accent3 #000
  --cube-color-blue-accent4 #000
