:root
  --cube-blue-base: #000
  --cube-blue-lighten5: #000
  --cube-blue-lighten4: #000
  --cube-blue-lighten3: #000
  --cube-blue-lighten2: #000
  --cube-blue-lighten1: #000
  --cube-blue-darken1: #000
  --cube-blue-darken2: #000
  --cube-blue-darken3: #000
  --cube-blue-darken4: #000
  --cube-blue-accent1: #000
  --cube-blue-accent2: #000
  --cube-blue-accent3: #000
  --cube-blue-accent4: #000
