:root
  --cube-color-red-base #000
  --cube-color-red-lighten5 #000
  --cube-color-red-lighten4 #000
  --cube-color-red-lighten3 #000
  --cube-color-red-lighten2 #000
  --cube-color-red-lighten1 #000
  --cube-color-red-darken1 #000
  --cube-color-red-darken2 #000
  --cube-color-red-darken3 #000
  --cube-color-red-darken4 #000
  --cube-color-red-accent1 #000
  --cube-color-red-accent2 #000
  --cube-color-red-accent3 #000
  --cube-color-red-accent4 #000
