:root
  --cube-red-base: #000
  --cube-red-lighten5: #000
  --cube-red-lighten4: #000
  --cube-red-lighten3: #000
  --cube-red-lighten2: #000
  --cube-red-lighten1: #000
  --cube-red-darken1: #000
  --cube-red-darken2: #000
  --cube-red-darken3: #000
  --cube-red-darken4: #000
  --cube-red-accent1: #000
  --cube-red-accent2: #000
  --cube-red-accent3: #000
  --cube-red-accent4: #000
