@require './size.styl'

:root
  --cube-border-radius-xxs: var(--cube-size-xs)
  --cube-border-radius-xs: var(--cube-size-sm)
  --cube-border-radius-sm: var(--cube-size-lg)
  --cube-border-radius-md: var(--cube-size-xl)
  --cube-border-radius-lg: var(--cube-size-xxl)
  --cube-border-radius-xl: var(--cube-size-xxxl)
  --cube-border-radius-xxl: 50%
