@require './size.styl'

:root
  --cube-border-radius-xs var(--cube-size-xs)
  --cube-border-radius-sm var(--cube-size-sm)
  --cube-border-radius-md var(--cube-size-lg)
  --cube-border-radius-lg var(--cube-size-xl)
  --cube-border-radius-xl var(--cube-size-xxl)
  --cube-border-radius-half 50%
