:root
  --cube-box-shadow-color rgba(9, 40, 71, .08)
  --cube-box-shadow-accent-color rgba(9, 40, 71, .16)

$box-shadow-regular := 0 2px 3px 0 var(--cube-box-shadow-color)
$box-shadow-medium := 0 3px 6px 0 var(--cube-box-shadow-color)
$box-shadow-bold := 0 5px 14px 0 var(--cube-box-shadow-color)

$box-shadow-accent := 0 4px 10px 0 var(--cube-box-shadow-accent-color)
