@require '../../../../base/index.styl'

$btns-gap := calc(2 * var(--cube-size-md))
$btns-shadow := $box-shadow-bold

$btns_bottom-padding := calc(3 * var(--cube-size-md))

$btns_shadow-bg := var(--cube-color-surface)
