:root
  // main
  --cube-color-primary: #000
  --cube-color-secondary: #000

  // bg
  --cube-color-background: #000
  --cube-color-surface: #000
  //// function
  --cube-color-success: #000
  --cube-color-error: #000
  --cube-color-warning: #000
  --cube-color-info: #000
  --cube-color-disabled: #000

  // color
  //// main
  --cube-color-on-primary: #fff
  --cube-color-on-secondary: #000
  //// bg
  --cube-color-on-background: #000
  --cube-color-on-surface: #000
  ////// function
  --cube-color-on-success: #000
  --cube-color-on-error: #000
  --cube-color-on-warning: #000
  --cube-color-on-info: #000
  --cube-color-on-disabled: #000

  // helper
  --cube-color-border: #000
  --cube-color-separator: #000
  --cube-color-link: #000
  --cube-color-text: #000
  --cube-color-placeholder: #000
