:root
  // white black
  --cube-color-white #fff
  --cube-color-black #000

  // main
  --cube-color-primary #ff7f41
  --cube-color-secondary #092847

  // bg
  --cube-color-background #f7f9fc
  --cube-color-surface var(--cube-color-white)
  //// function
  --cube-color-success #29b395
  --cube-color-error #ff4340
  --cube-color-warning #ffbc57
  --cube-color-info #9eacba
  --cube-color-disabled #ccc

  // color
  //// main
  --cube-color-on-primary var(--cube-color-white)
  --cube-color-on-secondary var(--cube-color-white)
  //// bg
  --cube-color-on-background #757575
  --cube-color-on-surface #333
  ////// function
  --cube-color-on-success var(--cube-color-white)
  --cube-color-on-error var(--cube-color-white)
  --cube-color-on-warning var(--cube-color-white)
  --cube-color-on-info var(--cube-color-white)
  --cube-color-on-disabled var(--cube-color-white)

  // helper
  --cube-color-border #e6e6e6
  --cube-color-separator #eaeaea
  --cube-color-link #ff7f41
  --cube-color-heading var(--cube-color-black)
  --cube-color-text #333
  --cube-color-placeholder #999
  --cube-color-mask rgba(37, 38, 45, .4)
  --cube-color-mix-active rgba(0, 0, 0, .08)
