@require './mixin.styl'

.cube-btn
  make-btn()
  &_inline
    make-btn_inline()
  &_primary
    make-btn_primary()
  &_outline
    make-btn_outline()
    &_primary
      make-btn_outline_primary()
  &_light
    make-btn_light()
  &_link
    make-btn_link()
    &_primary
      make-btn_link_primary()
  &_circle
    make-btn_circle()

  &-tip
    make-btn-tip()
