@require '../../../../base/index.styl'

$btn-font-size := var(--cube-font-size-md)
$btn-line-height := var(--cube-line-height-normal)

$btn-color := var(--cube-color-on-primary)
$btn-bg := var(--cube-color-primary)

$btn-active-bg := var(--cube-color-primary)

$btn-radius := 2px
