:root
  // size
  --cube-font-size-xxs: 10px
  --cube-font-size-xs: 12px
  --cube-font-size-sm: 14px
  --cube-font-size-md: 16px
  --cube-font-size-lg: 20px
  --cube-font-size-xl: 24px
  --cube-font-size-xxl: 34px
  --cube-font-size-xxxl: 48px
  --cube-font-size-xxxxl: 60px
  --cube-font-size-xxxxxl: 96px
  // cases
  //// h1-h6
  --cube-font-size-h1: var(--cube-font-size-xxxxxl)
  --cube-font-size-h2: var(--cube-font-size-xxxxl)
  --cube-font-size-h3: var(--cube-font-size-xxxl)
  --cube-font-size-h4: var(--cube-font-size-xxl)
  --cube-font-size-h5: var(--cube-font-size-xl)
  --cube-font-size-h6: var(--cube-font-size-lg)
  //// subtitle
  --cube-font-size-subtitle1: var(--cube-font-size-md)
  --cube-font-size-subtitle2: var(--cube-font-size-sm)
  //// body
  --cube-font-size-body1: var(--cube-font-size-md)
  --cube-font-size-body2: var(--cube-font-size-sm)
  //// button
  --cube-font-size-button: var(--cube-font-size-sm)
  //// caption
  --cube-font-size-caption: var(--cube-font-size-xs)
  //// overline
  --cube-font-size-overline: var(--cube-font-size-xxs)
